h1{
min-height: 20px;
background-color: rgb(21, 218, 185);
color: white;
font-size: 16px;
padding: 20px;
margin-bottom: 20px;
}

code{
	background-color: lightgrey;
	font-family: monospace;
}

#example{
	min-height: 200px;
	width: 100%;
	margin: 20px;
	background-color: lightgrey;
}

#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}*/

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.test{
    background-color: red;
}

  .starthidden {
    display: none;
  }
  
  .cube {
    width: 50px;
    height: 40px;
    margin: 5px;
    border: 3px outset green;
    float: left;
  }

div.out {
    width: 40%;
    height: 120px;
    margin: 0 15px;
    background-color: #d6edfc;
    float: left;
  }
  div.in {
    width: 60%;
    height: 60%;
    background-color: #fc0;
    margin: 10px auto;
  }
 
 #space{
	height: 90vh;
	widows: 100%;
	background-color: black;
	position: relative;
}

#ship{
	background-image: url(33_keyboard_events/ship.png);
	width: 65px;
	height: 41px;
	background-color: pink;
	left: 250px;
	top: 250px;
	position: absolute;
}