body{
	background-color: yellow;
}

.container{
	margin: 0 auto;
	width: 960px;
	background-color: lightgrey;
	min-height: 2000px;
}

nav{
	background-color: black;
	width: 960px;
	transition: all .5s ease;
}

nav > ul > li{
	display: inline-block;
	padding: 5px;
	background-color: grey;
	margin: 0;
}

nav .menu ul{
	margin: 0 !important;
	padding: 0 !important;
}

.fixed{
	position: fixed;
	top: 0;
}